<!--
  Get related posts based on tags
  https://themes.ghost.org/docs/recent-featured-sidebar#extra-special-sauce-related-posts
 -->

<!-- Related Posts -->
<div class="row">
  <div class="column column--center medium-12 large-12">
    <div class="row">
      <div class="related-posts post-list">
        {{#get "posts" limit="3" include="authors" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
          <div class="column large-12">
            <h5 class="separator">
              <span class="separator__title">Related Posts</span>
            </h5>
          </div>
          {{#foreach related}}
            {{> post-card}}
          {{/foreach}}
        {{/get}}
      </div>
    </div>
  </div>
</div>