<h5 class="separator">
  <span class="separator__title">Newsletter</span>
</h5>

<div class="subscribe-form subscribe-form--boxed">
  <div class="subscribe-form__box">
    {{subscribe_form placeholder="Your email address" button_class="button"}}
  </div>
</div>