//---------------------------
// Post Page
//---------------------------

// Add shadow to cover image for all pages except the 'paged' context page for archive pages

.header-cover {
  background-color: #34495e;

  &:after {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.3);
  }
}

.header-box {
  .box {
    position: relative;
    background: #fff;

    @media #{$large-down} {
      margin-bottom: 0;
    }
  }

  position: relative;
  top: - $line-height__base;
  margin-bottom: - $line-height__base;

  @media #{$medium-up} {
    top: - double($line-height__base);
    margin-bottom: - double($line-height__base);
    min-height: double($line-height__base) + $line-height__base;
  }

  @media #{$large-up} {
    top: - ($line-height__base * 3);
    margin-bottom: - quadruple($line-height__base);
    min-height: quadruple($line-height__base) + $line-height__base;
  }

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: 0;
    border: 1px solid #fff;
  }
}

.post {
  position: relative;
  top: -$line-height__base;
  padding: $line-height__base half($line-height__base) 0;
  margin-bottom: - $line-height__base;
  max-width: 50em;
  background: #fff;

  @media #{$medium-up} {
    top: - double($line-height__base);
    margin-bottom: - double($line-height__base);
  }

  @media #{$large-up} {
    top: (-$line-height__base * 3);
    margin-bottom: (-$line-height__base * 3);
    padding: double($line-height__base) double($line-height__base) 0 double($line-height__base);
  }

  &__body {
    position: relative;
  }

  &__header {
    margin-bottom: half($line-height__medium);
    text-align: center;
  }

  &__title {
    margin-bottom: half($line-height__medium);
    font-size: $font-size__base;
    line-height: $line-height__base;
    font-weight: $font-weight__light;

    @media #{$medium-up} {
      font-size: double($font-size__medium);
      line-height: double($line-height__medium);
    }

    @media #{$large-up} {
      font-size: double($font-size__base);
      line-height: double($line-height__base);
    }
  }

  &__date {
    font-size: $font-size__small;
    line-height: $line-height__small;
    color: $color__type--hover;
  }

  &__content {
    margin-top: $line-height__medium;
  }

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: 0;
    border: 1px solid #fff;
  }
}

.post__content {
  display: flex;
  align-items: center;
  flex-direction: column;

  address,
  h1, h2, h3, h4, h5, h6,
  blockquote, p, pre,
  dl, ol, ul,
  figure,
  hr,
  table,
  div,
  fieldset,
  .footnotes {
    min-width: 100%;
  }
}

// Koenig Editor

.kg-embed-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
}

.kg-embed-card,
.kg-image-card {
  figcaption {
    width: 100%;
    text-align: center;
    color: $color__type--hover;
    font-size: $font-size__small;
    line-height: $line-height__small;
    margin-top: half($line-height__base);
  }
}

.kg-width-full .kg-image {
  max-width: 100vw;
}

.kg-width-wide .kg-image {
  @media #{$medium-up} {
    max-width: 75vw;
  }

  @media #{$large-up} {
    max-width: 65vw;
  }
}